.container {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background: rgba(0, 0, 0, 0.0001);
}
/*  Logo and header menu  */
.logo {
    display: inline-block;
    text-align: left;
    margin-top: 63px;
    margin-bottom: 38px;
    font-size: 80px;
}

.color-logo-end {
    color: #4BCAFF;
}

.color-logo-start {
    color: #000000;
}

.logo-link {
    text-decoration: none;
}

.switch-btn {
    position: relative;
    top: 80px;
}

.logo-and-switch {
    display: flex;
    justify-content: space-between;
}

.theme-btn {
    padding: 5px;
    border: 3px solid #12358d;
    border-radius: 50px;

}
/*Animation classes*/
.rotate-center {
    -webkit-animation: rotate-center 0.6s ease-in-out both;
    animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.gradient-background {
    background: linear-gradient(29deg,#703bb4,#1d7aa8,#9a1a15,#cd29c1,#4413f1,#eee775);
    background-size: 360% 360%;
    animation: gradient-animation 12s ease infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/*End of animation classes*/
.header-menu {
    width: 1280px;
    margin-bottom: 67px;
    background-color: #35444F;
    border: 1px solid #FFFFFF;
}

.header-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}

.header-menu-list a {
    text-decoration: none;
    color: #FFFFFF;
    white-space: nowrap;
    text-align: center;
    padding-top: 26px;
    padding-bottom: 19px;
}

.header-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-list:first-child {
    border-left: 1px solid #FFFFFF;
}

.header-list a:first-child {
    width: 331px;
}

.header-list:nth-child(2) {
    width: 150px;
    border-left: 1px solid #FFFFFF;
}

.header-list:nth-child(3) {
    width: 284px;
    border-left: 1px solid #FFFFFF;
}

.header-list:last-child {
    width: 221px;
    border-left: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.header-list:hover {
    background-color: #222F3A;
}

/*   Side menu and main block   */
/*      Side menu       */
.aside-and-main-block {
    display: flex;
    width: 1280px;
    justify-content: space-between;
    align-items: flex-start;
}

.nav-menu-list {
    display: flex;
    flex-direction: column;

    font-size: 27px;
    color: #495863;

    width: 344px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BFBFBF;
}

.nav-menu-list a {
    display: inline-block;
    text-decoration: none;

    width: 300px;
    color: #495863;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 44px;
    white-space: nowrap;
}

.nav-menu-list a:hover {
    padding-left: 64px;
    color: #000000;
}

.nav-list:hover {
    background-color: #DBDBDB;
}

/*  Main block  */
.main-block {
    width: 885px;
}

.image-block {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BFBFBF;
    margin-bottom: 37px;
}

.image-scale {
    width: 320px;
    height: 381px;
    transition: transform 1.0s;
}

.image-scale:hover {
    transform: scale(1.38);
}

.paragraph {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.first-paragraph {
    margin-bottom: 34px;
}

.second-paragraph {
    margin-bottom: 54px;
}

/*  Footer menu and ©  */
.footer {
    display: flex;
    justify-content: space-between;

    width: 1280px;
    background-color: rgba(99, 105, 110, 0.48);
}

.footer-menu-list a {
    text-decoration: none;
    color: #0C1927;
    padding-top: 20px;
    padding-bottom: 21px;
}

.footer-menu-list {
    padding-left: 40px;
    display: flex;
    width: 875px;
    justify-content: space-between;
    align-items: center;

    font-size: 28px;
    line-height: 28px;
    padding-top: 20px;
    padding-bottom: 21px;
}

.copyright {
    padding-right: 40px;

    display: flex;
    align-items: center;
    font-size: 24px;
    line-height: 24px;
}

.footer-menu-list a:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
    padding-bottom: 8px;
}